/node_modules
/cvm/output_cvm
/cvm/input_cvm
/cvm/mypython
/b3/mypython
/yahoo/output
/mypython
/cvm/cvm_gcloud/env
/cvm/cvm_gcloud/google-cloud-sdk
/cvm/cvm_processDRE_gcloud/env
/cvm/cvm_processDRE_gcloud/google-cloud-sdk